<p><%= link_to obj.name, lost_object_path(obj) %></p>
<p><%= obj.description %></p>
<p><strong>Encontrado en:</strong> <%= obj.location %></p>
<%= link_to image_tag(obj.image.url(:thumb)), obj.image.url, target: '_blank' %>
