$("#lost_objects").html( $(
    <% if @lost_objects.present? %>
      "<%= escape_javascript render @lost_objects %>"
    <% else %>
      "<p>No objects with terms <i><%= params[:search] %></i> found.</p>"
    <% end %>
) );

window.history.pushState("", "",
                         "<%= lost_objects_path(search: (params[:search] if !params[:search].empty?)) %>");
