<% content_for :title do %>
  Objetos perdidos
<% end %>

<section>
	<div class="container">	
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#school">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										School Items
									</a>
								</h4>
							</div>
							<div id="school" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">BackPacks</a></li>
										<li><a href="#">Books</a></li>
										<li><a href="#">Computers</a></li>
										<li><a href="#">Notebooks</a></li>
										<li><a href="#">Else</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#wallet">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										Wallet
									</a>
								</h4>
							</div>
							<div id="wallet" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">Identification</a></li>
										<li><a href="#">Bank Cards</a></li>
										<li><a href="#">Reward Cards</a></li>
										<li><a href="#">Wallets</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Accesories</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Clothing</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Bags</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Shoes</a></h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#">Exotic</a></h4>
							</div>
						</div>
					</div><!--/category-products-->
					
					<div class="brands_products"><!--brands_products-->
<!--
			<h2>Brands</h2>
			<div class="brands-name">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
					<li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
					<li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
					<li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
					<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
					<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
					<li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
				</ul>
			</div>
		-->
	</div><!--/brands_products-->
	
	
	
</div>
</div>			
<div class="col-sm-9 padding-right">
	<div class="features_items"><!--features_items-->
		<h2 class="title text-center">Found Items</h2>
                <div id="lost_objects">
                  <% if @lost_objects.present? %>
  		    <%= render @lost_objects %>
		  <% else %>
  		    <p>No objects with terms <i><%= params[:search] %></i> found.</p>
		  <% end %>
                </div>
	</div>
</div>
</div>
</div>
</section>
