<div class="reply"
	<% if reply.user.is_mod? %>
		id="modReply"
	<% end %>
>
	<h1>
	<% if reply.user.is_mod? %>
		[Moderador]
	<% end %>
	<%= reply.user.name %>
	</h1>
	<h2><%= reply.created_at %></h2>
	<p><%= reply.message %></p>
</div>