<!DOCTYPE HTML>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
	<h1> Bienvenido a LostAndFound, <%= @user.name %></h1>
	<p>
		Te has registrado exitosamente a LostAndFound, tu nombre de usuario es: <%= @user.name %>.</br>	
	</p>
	<p>
		Para confirmar tu registro, sigue este link: <a href='<%= @url %>'> <%= @url %> </a>
	</p>
	<p>
		Esperamos que encuentres lo que buscas.
	</p>
	</body>
</html>