<h1> Bienvenido a LostANDFound, <%= @user.name %></h1>
<p>
  Te has registrado exitosamente a LostANDFound, tu nombre de usuario es: <%= @user.name %>.</br>
</p>
<p>
  Para confirmar tu registro, sigue <%= link_to 'este link', @verification_url %>.
</p>
<p>
  Esperamos que encuentres lo que buscas.
</p>
