<header id="header">
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo pull-left">
            <%= link_to image_tag("logo.png"), root_path %>
          </div>
        </div>

        <div class="col-sm-9 header-middle-margin">
          <div class="search_box pull-left">
            <%= form_tag(lost_objects_path, :method => "get",
                         id: "search-form", "search-page": ("true" if @search_page)) do %>
              <%= text_field_tag :search, (@search_options || {})[:search],
              placeholder: "Buscar", autofocus: "true" %>
            <% end %>
          </div>
            <%= render 'shared/session' %>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom"></div>
</header>

