<div class="shop-menu pull-right">
  <ul class="nav navbar-nav">
    <% if current_user %>
      <li><%= link_to 'Found an object?', new_lost_object_path %></li>
      <li><%= link_to 'Log out', sign_out_path, method: :delete %>
    <% else %>
	<li>
	  <!--<a href="login.html" class="active"><i class="fa fa-lock"></i> Login</a>-->
	  <%= link_to 'Login', sign_in_path %>
	</li>
    <% end %>
  </ul>
</div>
