<a class="ticket" href="<%= ticket_path(ticket) %>"
    <% if ticket.new_entry&!ticket.lastReply?(current_user) %>
    id="ticket_not"
    <% end %>
>
    <h1 id="ticket_title">
    	<p id="ticket_ne">
            <% if ticket.new_entry&!ticket.lastReply?(current_user) %>
            ⦿
            <% end %>
        </p>
    	<p>Ticket #<%= ticket.IDPrettyFormat %></p>
    	<p>|</p>
    	<p><%= ticket.opened_at %></p>
    </h1>
    <h2><%= ticket.user.name %></h2>
    <% if ticket.status %>
      <h2>Abierto</h2>        
    <% else %>
      <h2>Cerrado</h2>
    <% end %>
</a>