<a class="ticket" href="<%= ticket_path(ticket) %>" <% if ticket.new_entry %> style="background:#FE980F" <% end %>>
    <h1><% if ticket.new_entry %>! <% end %>Ticket #<%= ticket.IDPrettyFormat %> | <%= ticket.opened_at %></h1>
    <h2><%= ticket.user.name %></h2>
    <% if ticket.status %>
      <h2>Abierto</h2>        
    <% else %>
      <h2>Cerrado</h2>
    <% end %>
</a>